
// .main-container {
//   height: 400px;
//   padding-top: 0;

//   .content-area {
//     overflow-y: hidden;
//   }
// }
$clr-header-bgColor: purple;
$clr-header-font-color: yellow;
$clr-header-title-font-weight: 700;
@import "../../../node_modules/@clr/ui/src/utils/components.clarity";
